<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiflow.file.mapper.PlaybackProgressMapper">

    <select id="selectByUserAndFile" resultType="com.baiflow.file.entity.PlaybackProgress">
        SELECT id, user_id, file_item_id, position_type, position_value, created_at, updated_at
        FROM bf_playback_progress
        WHERE user_id = #{userId} AND file_item_id = #{fileItemId}
        LIMIT 1
    </select>

</mapper>
